/* .input-form */

.chat .input-form .user, .chat .input-form .message {
    font-size: 1.2rem;
}

.chat .input-form .top {
    display: flex;
    justify-content: space-between;
}

.chat .input-form .mute-label {
    user-select: none;
}

.chat .input-form .message {
    width: 100%;
    height: 80px;
    margin-top: 3px;
}

.chat .input-form .buttons {
    display: flex;
    justify-content: space-between;
}

.chat .input-form button.submit {
    width: 50px;
    height: 25px;
}

/* .messages */

.chat .stars, .chat .messages {
    margin-top: 20px;
}

.chat .message header {
    display: flex;
    justify-content: space-between;
}

.chat .message .user {
    flex-grow: 2;
}

.chat .message .star {
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.chat .message .stared {
    color: gold;
}

.chat .message pre {
    white-space: pre-wrap;
}

.chat .message.unread {
    color: blue;
    font-weight: bold;
}
